<ct-color-patch [patchInput]="defaultPatch"></ct-color-patch>
<div>
    <div>
        <input type="range" [(ngModel)]="defaultPatch.r" max="255"> {{ defaultPatch.r}}<br>
        <input type="range" [(ngModel)]="defaultPatch.g" max="255"> {{ defaultPatch.g}}<br>
        <input type="range" [(ngModel)]="defaultPatch.b" max="255"> {{ defaultPatch.b}}<br>
        <input type="range" [(ngModel)]="defaultPatch.a" max="1" step="0.01"> {{ defaultPatch.a}}<br>
        <input type="text" [(ngModel)]="defaultPatch.name">
        <button *ngIf="!editState; else update" (click)="onAddPatch()" [disabled]="!defaultPatch.name">+</button>
        <ng-template #update>
          <button (click)="onUpdatePatch()">Update patch</button>  
          <button (click)="onCancelUpdate()">Cancel</button>
        </ng-template>
        
    
    </div>
</div>

<div>
    <div *ngIf="patchArray" class="patch-container">
        <ct-color-patch *ngFor="let patch of patchArray$ | async" [patchInput]="patch" (delete)="onDeletePatch($event)" (edit)="onEditPatch($event)"></ct-color-patch>

    </div>
</div>